*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.wrapper{
    min-height: 100vh;
    background: url('images/1.jpg');
    color: white;
}
.header{
    text-align: center;
    padding: 20px;
    background-color: rgba(126, 252, 0, 0.377);
}
.main{
    padding: 40px 0;
    min-height: calc(100vh - 95px);
    background-color: rgba(0,0,0,.87);
}
#prompt{
    margin-bottom: 10px;
}
#prompt mark{
    padding: 10px;
}
.form-label, .form-group,.playground, #info{
    font-size: 32px;
}
/* .form-group{
    background-color: lawngreen;
    display: inline-block;
    border-radius: 30%;
} */
.form-group{
    height: 4.5rem;
    max-width: 50rem;
    border-radius: 4rem;
    outline: none;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    align-items: center;
    background-color: lawngreen;
    color:rgba(0,0,0,.87);
    border: 1px solid #ddd;
    padding: 0 1rem;
}
.form-group:hover,
.resetBtn:hover{
    background-color: rgb(101, 197, 5);
}
.form-group input{
    height: 4.5rem;
    width: 50rem;
    outline: none;
    border: none;
    color:rgba(0,0,0,.87);
    font-size: 16px;
    line-height: 34px;
    padding: 0 1rem;
}
.form-group button{
    font-size: 16px;
    height: 4.5rem;
    background-color: transparent;
    padding: 10px 20px;

    outline: none;
    border: none;
}
.form-group input,
.form-group button{
    outline: none;
    height: 40px;
}

.resetBtn{
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid lawngreen;
    font-size: 18px;
    background-color: lawngreen;
    color: black;
}
#playground{
    display: none;
    padding: 20px;
    transition: .5s ease-in;
}
.playSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:32px
}
.played{
    font-size: 18px;
}
.info,.score, .played{
    padding: 20px 0;
}
.selection-images button{
    border-radius: 4px;
    border:none;
    transition: all .4s ease;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
.selection-images button img{
    width: 100px;
}

.played{
    max-width: 310px;
}